body {
  height: 100%;
  background-color: #444444;
  color: #337ab7;
}

ul#messages {
  margin-bottom: 50px;
}

#messages li {
  padding: 2px;
}

#messages li:nth-child(odd) {
  background-color: #666666;
}

#users li.current {
  font-weight: bold;
}

#users li.total {
  text-align: center;
  font-weight: bold;
  background-color: #337ab7;
  color: white;
  padding: 5px;
  font-size: 15px;
}

#users li:hover {
  color: white;
  cursor: pointer;
}

#users li.total:hover {
  color: #337ab7;
  cursor: auto;
}

.message-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.users-bar {
  right: 0;
  float: ;
  position: fixed;
}

.message-list {
  float: left;
}
